@import url('https://fonts.googleapis.com/css?family=Work+Sans:200,300,500');
@import url('https://fonts.googleapis.com/css?family=Lato:300');


* {
	margin: 40;
}

body, html {
	height:100%;
	background-image: url("ehco-logo-blue.jpg");
	width: 98.5%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	overflow: visible;
}

h1 {
	margin:150px 0px 0px;
	clear:both;
	top:0;
	height:40%;
	width:100%;
	overflow: visible;
}

@media only screen
and (min-width : 320px)
and (max-width : 414px) {
	h1 {
		line-height:1em;
		margin:65px 0px 0px;
		overflow: visible;
	}
}

div.topdiv {
	clear:both;
	position:fixed;
	top:0;
	height:40%;
	width:100%;
	font-family: 'Lato', sans-serif;
	font-size: 200%;
	line-height: 0%;
 	text-align: center;
 	font-weight: 300;
	letter-spacing: .05em;
	overflow: hidden;
	color: #c4a131;
}

@media only screen
and (min-width : 320px)
and (max-width : 414px) {
	div.topdiv {
		font-size: 100%;
	}
}

div.bottomdiv {
	clear:both;
	position:fixed;
	bottom:0;
	height:50%;
	width:37%;
	font-family: 'Work Sans', sans-serif;
  font-size: 180%;
  text-align: left;
  font-weight: 200;
	padding: 30px;
	overflow: scroll;
	color: #215163;
	margin:40px 50px 20px
  max-width: 50px;
}

@media only screen
and (min-width : 320px)
and (max-width : 414px) {
	div.bottomdiv {
		height:91.5%;
		width:81%;
	  font-size: 110%;
	  text-align: center;
		overflow: hidden;
		margin:40px 50px 20px
	  max-width: 100px;
	}
}

	span {
		color: #c4a131;
		font-weight: 300;
	}

@media only screen
and (min-width : 320px)
and (max-width : 414px) {
	p {
		height:83%;
	}
}
/* unvisited link */
a:link {
    color: #215163;
		text-decoration: none;
}

/* visited link */
a:visited {
    color: #215163;
}

/* mouse over link */
a:hover {
    color: #c4a131;
}

/* selected link */
a:active {
    color: #c4a131;
}
