@import url('https://fonts.googleapis.com/css?family=Work+Sans:100,500');

* {
	margin: 30;
}

body {
	background-color: #215163;
}

h1 {
  font-family: 'Work Sans', sans-serif;
	font-size: 400%;
	line-height: 140%;
  text-align: center;
  font-weight: thin;    
	letter-spacing: .05em;
	height: 100%;
	padding: 15px;
	overflow: auto;
	color: white;
}

p {
  font-family: 'Work Sans', sans-serif;
  font-size: 200%;
  text-align: left;
  font-weight: medium;    
	height: 100%;
	padding: 15px;
	overflow: auto;
	color: white;
}
