@import url('https://fonts.googleapis.com/css?family=Work+Sans:100,400');

* {
	margin: 30;
}

body {
	background-color: #215163;
}

h1 {
 	font-family: 'Work Sans', sans-serif;
	font-size: 400%;
	line-height: 140%;
 	text-align: center;
 	font-weight: 400;    
	letter-spacing: .05em;
	height: 100%;
	padding: 15px;
	overflow: auto;
	color: white;
}

p {
	display: block;
 	font-family: 'Work Sans', sans-serif;
  	font-size: 370%;
  	text-align: left;
  	font-weight: 100;    
	height: 100%;
	padding: 15px;
	overflow: auto;
	color: white;
	margin:10px 30px 20px
}
